<!doctype html>
<html>
<head>
    <title>
        Link created ok
    </title>
</head>
<body>
    Your link is 
    <a href="{{short_url}}">{{short_url}}</a>
    <br />
    <a href="/">Add another link</a>
</body>
</html>